/node_modules
/public/hot
/public/storage
/public/conference
/public/js
/public/css
/public/mix-manifest.json
/storage/*.key
/storage/logs
/storage/app
/storage/framework
/vendor
.env
.env_ssx_original
.env_live_staging
.env_local
.env_live
.env_local_mailer_agmstech
.env_mailer_gmail
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
